In [7]:
import pandas as pd
import numpy as np

# 时间序列处理
from datetime import datetime
from dateutil.parser import parse as dt_parse
# 正则库
import re

In [9]:
with open("1.txt",'r', encoding= 'utf-8') as file:
    str_1 = file.readlines()
with open("2.txt",'r', encoding= 'utf-8') as file:
    str_2 = file.readlines()
with open("3.txt",'r', encoding= 'utf-8') as file:
    str_3 = file.readlines()
with open("4.txt",'r', encoding= 'utf-8') as file:
    str_4 = file.readlines()
with open("5.txt",'r', encoding= 'utf-8') as file:
    str_5 = file.readlines()
with open("6.txt",'r', encoding= 'utf-8') as file:
    str_6 = file.readlines()
with open("7.txt",'r', encoding= 'utf-8') as file:
    str_7 = file.readlines()
with open("8.txt",'r', encoding= 'utf-8') as file:
    str_8 = file.readlines()
with open("9.txt",'r', encoding= 'utf-8') as file:
    str_9 = file.readlines()
with open("10.txt",'r', encoding= 'utf-8') as file:
    str_10 = file.readlines()
with open("11.txt",'r', encoding= 'utf-8') as file:
    str_11 = file.readlines()
with open("12.txt",'r', encoding= 'utf-8') as file:
    str_12 = file.readlines()
with open("13.txt",'r', encoding= 'utf-8') as file:
    str_13 = file.readlines()
with open("14.txt",'r', encoding= 'utf-8') as file:
    str_14 = file.readlines()  
with open("15.txt",'r', encoding= 'utf-8') as file:
    str_15 = file.readlines()
with open("16.txt",'r', encoding= 'utf-8') as file:
    str_16 = file.readlines()
with open("17.txt",'r', encoding= 'utf-8') as file:
    str_17 = file.readlines()

In [10]:
strI = []
strI.extend(str_1)
strI.extend(str_2)
strI.extend(str_3)
strI.extend(str_4)
strI.extend(str_5)
strI.extend(str_6)
strI.extend(str_7)
strI.extend(str_8)
strI.extend(str_9)
strI.extend(str_10)
strI.extend(str_11)
strI.extend(str_12)
strI.extend(str_13)
strI.extend(str_14)
strI.extend(str_15)
strI.extend(str_16)
strI.extend(str_17)

In [11]:
df = pd.DataFrame(strI)
#df.index.name = 'Date'
df.columns.name = 'Trans'
print(df)

Trans                                                  0
0                             00:00:00--00:00:03  说话者0\n
1                                                  嗯嗯嗯\n
2                                                     \n
3                             00:00:04--00:00:13  说话者0\n
4       Good day ladies and gentlemen and thank you f...
...                                                  ...
44551                                           Thank。\n
44552                                                 \n
44553                         01:00:49--01:00:55  说话者0\n
44554  Ladies and gentlemen，this concludes today's co...
44555                                                 \n

[44556 rows x 1 columns]

In [12]:
df.to_excel("merge_trans_5y/transcript_raw.xlsx")

In [13]:
df_new = pd.read_excel("merge_trans_5y/transcript.xlsx")
df_new

            date                                         transcript
0     2021-04-26                         00:00:00--00:00:03  说话者0\n
1     2021-04-26                                              嗯嗯嗯\n
2     2021-04-26                                                 \n
3     2021-04-26                         00:00:04--00:00:13  说话者0\n
4     2021-04-26   Good day ladies and gentlemen and thank you f...
...          ...                                                ...
44551 2021-01-27                                           Thank。\n
44552 2021-01-27                                                 \n
44553 2021-01-27                         01:00:49--01:00:55  说话者0\n
44554 2021-01-27  Ladies and gentlemen，this concludes today's co...
44555        NaT                                                 \n

[44556 rows x 2 columns]

In [14]:
#删除列中存在中文字符的行
df_new = df_new[~df_new['transcript'].map(lambda x:any([u'\u4e00' <= i <= u'\u9fff' for i in str(x)]))]

In [15]:
#删除缺失值
df_new.dropna()

            date                                         transcript
2     2021-04-26                                                 \n
4     2021-04-26   Good day ladies and gentlemen and thank you f...
5     2021-04-26                                                 \n
7     2021-04-26  At this time all participants，journalists and ...
8     2021-04-26                                                 \n
...          ...                                                ...
44548 2021-01-27   All right，thank you very much。And unfortunate...
44549 2021-01-27                                                 \n
44551 2021-01-27                                           Thank。\n
44552 2021-01-27                                                 \n
44554 2021-01-27  Ladies and gentlemen，this concludes today's co...

[29030 rows x 2 columns]

In [16]:
#删除含有特殊字符串的行
#df_new=df_new.drop(df_new[df_new['transcript'].str.contains(pat='\n',regex=False)].index,inplace=True)  #regex=True则pat是一个正则表达式，regex=False表示pat是一个字符串
#df_new

In [18]:
#保存到'trans_new.xlsx'
df_new.to_excel('merge_trans_5y/trans_new.xlsx')

In [20]:
dfup = pd.read_excel('merge_trans_5y/trans_update.xlsx')

dfup.fillna(method='bfill', inplace=True)

dfup

            Date                                         Transcript
0     2021-04-26                                                 \n
1     2021-04-26   Good day ladies and gentlemen and thank you f...
2     2021-04-26                                                 \n
3     2021-04-26  At this time all participants，journalists and ...
4     2021-04-26                                                 \n
...          ...                                                ...
29026 2021-01-27                                                 \n
29027 2021-01-27                                           Thank。\n
29028 2021-01-27                                                 \n
29029 2021-01-27  Ladies and gentlemen，this concludes today's co...
29030 2021-01-27                                                 \n

[29031 rows x 2 columns]

In [22]:
# 降维处理
#dfup.drop(['date1', 'date2'], axis=1, inplace=True)
# 索引重构
#trans_newIndex = {'transcript': 'Trans', 'date_3': 'Date'}
#dfup.rename(columns=trans_newIndex, inplace=True)
dfup

            Date                                         Transcript
0     2021-04-26                                                 \n
1     2021-04-26   Good day ladies and gentlemen and thank you f...
2     2021-04-26                                                 \n
3     2021-04-26  At this time all participants，journalists and ...
4     2021-04-26                                                 \n
...          ...                                                ...
29026 2021-01-27                                                 \n
29027 2021-01-27                                           Thank。\n
29028 2021-01-27                                                 \n
29029 2021-01-27  Ladies and gentlemen，this concludes today's co...
29030 2021-01-27                                                 \n

[29031 rows x 2 columns]

In [23]:
# 预防报错：None 错误-ValueError: (u'Unknown string format:', 'None')
#dfup['Date'] = dfup['Date'].replace({'None': np.NaN})

# 'float' to 'String' type. 
dfup['Date'] = dfup['Date'].astype(str)
dfup

             Date                                         Transcript
0      2021-04-26                                                 \n
1      2021-04-26   Good day ladies and gentlemen and thank you f...
2      2021-04-26                                                 \n
3      2021-04-26  At this time all participants，journalists and ...
4      2021-04-26                                                 \n
...           ...                                                ...
29026  2021-01-27                                                 \n
29027  2021-01-27                                           Thank。\n
29028  2021-01-27                                                 \n
29029  2021-01-27  Ladies and gentlemen，this concludes today's co...
29030  2021-01-27                                                 \n

[29031 rows x 2 columns]

In [24]:
dfup.info

<bound method DataFrame.info of              Date                                         Transcript
0      2021-04-26                                                 \n
1      2021-04-26   Good day ladies and gentlemen and thank you f...
2      2021-04-26                                                 \n
3      2021-04-26  At this time all participants，journalists and ...
4      2021-04-26                                                 \n
...           ...                                                ...
29026  2021-01-27                                                 \n
29027  2021-01-27                                           Thank。\n
29028  2021-01-27                                                 \n
29029  2021-01-27  Ladies and gentlemen，this concludes today's co...
29030  2021-01-27                                                 \n

[29031 rows x 2 columns]>

In [25]:
# 时间序列处理
# 因时间日期格式非统一，故选用dateutil包对parser.parse方法识别多变时间格式
dfup['Date'] = dfup['Date'].apply(lambda dt: dt_parse(dt))

# 按date升序排列
dfup.sort_values(by='Date', inplace=True, ascending=True)

dfup

            Date                        Transcript
23999 2019-01-30                                \n
25064 2019-01-30                                \n
25063 2019-01-30                    Can you just\n
25062 2019-01-30                                \n
25061 2019-01-30   uh maybe a quick follow up。Um\n
...          ...                               ...
11549 2022-10-19                         at a50%\n
11548 2022-10-19                                \n
11547 2022-10-19                      production\n
11558 2022-10-19                We see potential\n
12723 2022-10-19                                \n

[29031 rows x 2 columns]

In [26]:
dfup.to_csv('merge_trans_5y/TSLA_transcript_5y.csv',encoding="utf_8_sig", index=False)