In [1]:
import pandas as pd
import numpy as np

# 时间序列处理
from datetime import datetime
from dateutil.parser import parse as dt_parse
# 正则库
import re

In [2]:
with open("1.txt",'r', encoding= 'utf-8') as file:
    str_1 = file.readlines()
with open("2.txt",'r', encoding= 'utf-8') as file:
    str_2 = file.readlines()
with open("3.txt",'r', encoding= 'utf-8') as file:
    str_3 = file.readlines()
with open("4.txt",'r', encoding= 'utf-8') as file:
    str_4 = file.readlines()
with open("5.txt",'r', encoding= 'utf-8') as file:
    str_5 = file.readlines()
with open("6.txt",'r', encoding= 'utf-8') as file:
    str_6 = file.readlines()
with open("7.txt",'r', encoding= 'utf-8') as file:
    str_7 = file.readlines()

In [3]:
strI = []
strI.extend(str_1)
strI.extend(str_2)
strI.extend(str_3)
strI.extend(str_4)
strI.extend(str_5)
strI.extend(str_6)
strI.extend(str_7)

In [4]:
df = pd.DataFrame(strI)
#df.index.name = 'Date'
df.columns.name = 'Trans'
print(df)

Trans                                                  0
0                             00:00:00--00:00:03  说话者0\n
1                                                  嗯嗯嗯\n
2                                                     \n
3                             00:00:04--00:00:13  说话者0\n
4       Good day ladies and gentlemen and thank you f...
...                                                  ...
19459  Thank you very much。Um I think unfortunately，i...
19460                                                 \n
19461                         00:58:08--00:58:10  说话者0\n
19462   Thank you and have a good day。Thanks，everyone。\n
19463                                                 \n

[19464 rows x 1 columns]

In [5]:
df.to_excel("transcript_raw.xlsx")

In [6]:
df_new = pd.read_excel("transcript.xlsx")
df_new

            date                                         transcript
0     2021-04-26                         00:00:00--00:00:03  说话者0\n
1     2021-04-26                                              嗯嗯嗯\n
2     2021-04-26                                                NaN
3     2021-04-26                         00:00:04--00:00:13  说话者0\n
4     2021-04-26   Good day ladies and gentlemen and thank you f...
...          ...                                                ...
19459 2022-10-19  Thank you very much。Um I think unfortunately，i...
19460 2022-10-19                                                 \n
19461 2022-10-19                         00:58:08--00:58:10  说话者0\n
19462 2022-10-19   Thank you and have a good day。Thanks，everyone。\n
19463        NaT                                                 \n

[19464 rows x 2 columns]

In [7]:
#删除列中存在中文字符的行
df_new = df_new[~df_new['transcript'].map(lambda x:any([u'\u4e00' <= i <= u'\u9fff' for i in str(x)]))]

In [8]:
#删除缺失值
df_new.dropna()

            date                                         transcript
4     2021-04-26   Good day ladies and gentlemen and thank you f...
5     2021-04-26                                                 \n
7     2021-04-26  At this time all participants，journalists and ...
8     2021-04-26                                                 \n
10    2021-04-26  After the presentation there will be a questio...
...          ...                                                ...
19456 2022-10-19  you know That depends on how well we execute i...
19457 2022-10-19                                                 \n
19459 2022-10-19  Thank you very much。Um I think unfortunately，i...
19460 2022-10-19                                                 \n
19462 2022-10-19   Thank you and have a good day。Thanks，everyone。\n

[12722 rows x 2 columns]

In [9]:
#删除含有特殊字符串的行
#df_new=df_new.drop(df_new[df_new['transcript'].str.contains(pat='\n',regex=False)].index,inplace=True)  #regex=True则pat是一个正则表达式，regex=False表示pat是一个字符串
#df_new

In [10]:
#保存到'trans_new.xlsx'
df_new.to_excel('trans_new.xlsx')

In [11]:
dfup = pd.read_excel('trans_update.xlsx')

dfup.fillna(method='bfill', inplace=True)

dfup

,Date,Transcript,date1,date2
0,"Apr 21, 2021",Good day ladies and gentlemen and thank you f...,"Apr 21, 2021, 22:54","Apr 21, 2021"
1,"Apr 21, 2021",Good day ladies and gentlemen and thank you f...,"Apr 21, 2021, 22:54","Apr 21, 2021"
2,"Apr 21, 2021",\r\n,"Apr 21, 2021, 22:54","Apr 21, 2021"
3,"Apr 21, 2021",At this time all participants，journalists and ...,"Apr 21, 2021, 22:54","Apr 21, 2021"
4,"Apr 21, 2021",\r\n,"Apr 21, 2021, 22:54","Apr 21, 2021"
...,...,...,...,...
12718,"Oct 19, 2022",you know That depends on how well we execute i...,"Oct 19, 2022, 06:01","Oct 19, 2022"
12719,"Oct 19, 2022",\r\n,"Oct 19, 2022, 06:01","Oct 19, 2022"
12720,"Oct 19, 2022",Thank you very much.Um I think unfortunately，i...,"Oct 19, 2022, 06:01","Oct 19, 2022"
12721,"Oct 19, 2022",\r\n,"Oct 19, 2022, 06:01","Oct 19, 2022"
12722,"Oct 19, 2022",Thank you and have a good day.Thanks，everyone....,"Oct 19, 2022, 06:01","Oct 19, 2022"

In [12]:
# 降维处理
dfup.drop(['date1', 'date2'], axis=1, inplace=True)
# 索引重构
#trans_newIndex = {'transcript': 'Trans', 'date_3': 'Date'}
#dfup.rename(columns=trans_newIndex, inplace=True)
dfup

               Date                                         Transcript
0      Apr 21, 2021   Good day ladies and gentlemen and thank you f...
1      Apr 21, 2021   Good day ladies and gentlemen and thank you f...
2      Apr 21, 2021                                               \r\n
3      Apr 21, 2021  At this time all participants，journalists and ...
4      Apr 21, 2021                                               \r\n
...             ...                                                ...
12718  Oct 19, 2022  you know That depends on how well we execute i...
12719  Oct 19, 2022                                               \r\n
12720  Oct 19, 2022  Thank you very much.Um I think unfortunately，i...
12721  Oct 19, 2022                                               \r\n
12722  Oct 19, 2022  Thank you and have a good day.Thanks，everyone....

[12723 rows x 2 columns]

In [13]:
# 预防报错：None 错误-ValueError: (u'Unknown string format:', 'None')
#dfup['Date'] = dfup['Date'].replace({'None': np.NaN})

# 'float' to 'String' type. 
dfup['Date'] = dfup['Date'].astype(str)
dfup

               Date                                         Transcript
0      Apr 21, 2021   Good day ladies and gentlemen and thank you f...
1      Apr 21, 2021   Good day ladies and gentlemen and thank you f...
2      Apr 21, 2021                                               \r\n
3      Apr 21, 2021  At this time all participants，journalists and ...
4      Apr 21, 2021                                               \r\n
...             ...                                                ...
12718  Oct 19, 2022  you know That depends on how well we execute i...
12719  Oct 19, 2022                                               \r\n
12720  Oct 19, 2022  Thank you very much.Um I think unfortunately，i...
12721  Oct 19, 2022                                               \r\n
12722  Oct 19, 2022  Thank you and have a good day.Thanks，everyone....

[12723 rows x 2 columns]

In [14]:
dfup.info

<bound method DataFrame.info of                Date                                         Transcript
0      Apr 21, 2021   Good day ladies and gentlemen and thank you f...
1      Apr 21, 2021   Good day ladies and gentlemen and thank you f...
2      Apr 21, 2021                                               \r\n
3      Apr 21, 2021  At this time all participants，journalists and ...
4      Apr 21, 2021                                               \r\n
...             ...                                                ...
12718  Oct 19, 2022  you know That depends on how well we execute i...
12719  Oct 19, 2022                                               \r\n
12720  Oct 19, 2022  Thank you very much.Um I think unfortunately，i...
12721  Oct 19, 2022                                               \r\n
12722  Oct 19, 2022  Thank you and have a good day.Thanks，everyone....

[12723 rows x 2 columns]>

In [15]:
# 时间序列处理
# 因时间日期格式非统一，故选用dateutil包对parser.parse方法识别多变时间格式
dfup['Date'] = dfup['Date'].apply(lambda dt: dt_parse(dt))

# 按date升序排列
dfup.sort_values(by='Date', inplace=True, ascending=True)

dfup

            Date                                         Transcript
0     2021-04-21   Good day ladies and gentlemen and thank you f...
1474  2021-04-21                                               \r\n
1473  2021-04-21                   um it's It's really not much\r\n
1472  2021-04-21                                               \r\n
1471  2021-04-21  which might be a typical sort of power plant.\r\n
...          ...                                                ...
11548 2022-10-19                                               \r\n
11547 2022-10-19                                     production\r\n
11546 2022-10-19                                               \r\n
11557 2022-10-19                                               \r\n
12722 2022-10-19  Thank you and have a good day.Thanks，everyone....

[12723 rows x 2 columns]

In [18]:
dfup.to_csv('TSLA_transcript.csv',encoding="utf_8_sig", index=False)